body {
  text-align: center;
  margin: 0;
}



.outline {
  margin: 0 5%;
}

h1 {
  font-size: 50px;
  color: #ffffff;
  font-family: serif;
  position: absolute;
  align-items: center;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top{
  position: relative;
}

#header {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}


.h2title {
  margin: 0 0 70px 0;
}




.topward {
  font-size: 25px;
  font-family: serif;
}

.firsth2 {
  margin: 0 0 70px 0;
}

.message {
  width:100%;
  display: inline-block;
  text-align: left;
  font-family: serif;
  font-size: 15px;
  color: #545454;
}

.message p {
  margin: 0 0 35px 0;
}

.profile {
  text-align: center;
}

table {
  display: inline-block;
  font-size: 20px;
}



.info {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-around;

}